/* general */
*,
*:after,
*:before {
    box-sizing: border-box;
}

.hidden {
    display:none
}

/* flex stuff */
.flex-align-center {
    display:flex;
    align-items: center;

}

.flex-align-center-justify-between {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex-align-center-justify-start {
    display:flex;
    align-items: center;
    justify-content: start;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.gap-10px {
    gap:10px;
}

.gap-20px {
    gap:20px;
}

/* colors */

:root {
    --Moderateblue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --Lightgrayishblue: hsl(239, 57%, 85%);
    --Palered: hsl(357, 100%, 86%);

    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --Verylightgray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

/* stylings */

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--Lightgray) ;
}

.container-grey-hover::after {
    position:absolute;
    content:"";
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: black;
    opacity: .3;
}

.comment-sec,
.reply-sec,
.add-comment-sec {
    position:relative;
    background-color: var(--White);
    
    /* layouts */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.reply-sec {
    margin-left: 30px;
}

svg {
    color: var(--Darkblue);
}

.reply-sec__score-sec,
.comment-sec__score-sec {
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: var(--Lightgrayishblue);
    padding: 5px 10px;
    color: var(--Moderateblue);
    border-radius: 5px;
    font-weight: bold;
}


.comment-sec__reply,
.reply-sec__reply,
.reply-sec__delete,
.reply-sec__edit {
    display:flex;
    align-items: center;
    gap: 5px;
    background-color: var(--White);
    color: var(--Moderateblue);
    font-weight: bold;
    border:none;
    
}

.edit-delete-score {
    margin-right: auto;
}

.reply-sec__delete {
    color: var(--softRed);
    margin-right: 10px;
}

.comment-sec__avatar,
.reply-sec__avatar,
.add-comment-sec__footer__avatar {
    width: 40px;
    height: 40px;
}

.comment-sec__created-at,
.reply-sec__created-at {
    color: var(--GrayishBlue)
}

.comment-sec__username, 
.reply-sec__username {
    color: var(--Darkblue)
}

.add-comment-sec__input-comment {
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid hsl(223, 19%, 93%);
    min-height: 70px;
}

.add-comment-sec__footer__send {
    padding: 9px 20px;
    background-color:var(--Moderateblue);
    color: var(--White);
    font-weight: bold;
    border:none;
    border-radius:5px;
    text-transform: uppercase;
}

.margin-left {
    margin-left: 30px;
}

.you {
    background-color: var(--Moderateblue);
    color: white;
    padding: 0 7px 3px 7px;
    border-radius: 3px;
}

.hover:hover {
    cursor: pointer;
}


/* delete message */

.delete-message {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    color: var(--Darkblue);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.delete-message__yes {
    background-color: var(--softRed);
}

.delete-message__no {
    background-color: var(--GrayishBlue);
}

.delete-message__button {
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: bold;
    color: var(--White);
    border: none;
    border-radius: 5px;
}

.delete-message__button-sec {
    justify-content: space-around;
}


@media (min-width:550px) {

    .comment-sec,
    .reply-sec {
    padding-left: 70px;
}

.comment-sec,
.add-comment-sec {
    max-width: 700px;
}


.reply-sec {
    max-width: 670px;
}

    .comment-sec__score-sec,
    .reply-sec__score-sec {
        position: absolute;
        top:35px;
        left:17.5px;
        width: 35px;
        height: 90px;
        padding: 10px;
        flex-direction: column;
        gap:15px;
    }

    .comment-sec__reply,
    .reply-sec__reply,
    .reply-sec__edit {
    position:absolute;
    top:30px;
    right:10px
}

.reply-sec__delete {
    position:absolute;
    top:30px;
    right:60px
}

.add-comment-sec {
    padding-left: 70px;
    position: relative;
    display: flex;
    align-items: start;
    gap: 10px;
}

.add-comment-sec__footer__avatar {
    position:absolute;
    top: 20px;
    left: 15px;
}

.add-comment-sec__footer__send {
    margin-top: 10px;
}
}